@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

.axis line, .axis path {
  fill: none;
  stroke: #000;
}

.title {
	text-anchor: middle;
}

#vis {
  position:relative;
  width: 1005px;
  margin-right: 0;
}

.btn-group-vertical{
  padding-top: 50px;
}

.description {
  margin-bottom: 30px;
}

.col-sm-3 {
  width: 10%;
  float: right;
}